$gradient-color-primary:rgb(39,205,114);
$gradient-color-secundary: linear-gradient(90deg, rgba(39,205,114,1) 0%, rgba(6,140,76,1) 100%);

$green-color:#14a45f;
$white-color:#ffff;
$light-grey:#ECEAEA;
$red-alert: #e67b77;